<table class="summaryLogTable">
    <thead>
        <tr>
            <th>Who</th>
            <th>When</th>
            <th>What</th>
        </tr>
    </thead>
    <tbody>
{% for s in data %}
<tr>
    <td>{% if s.username is defined %}{{ s.username }}{% else %}&nbsp;{% endif %}</td>
    <td>{% if s.loggedat is defined %}{{ s.loggedat|date('Y-m-d H:i') }}{% else %}&nbsp;{% endif %}</td>
    <td>{% if s.data is defined %}{{ s.data | prettyprint }}{% else %}&nbsp;{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
