{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add Job</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Add"  onclick="this.value='Creating';this.disabled=true" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('job_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
