<div class="modal fade" id="personModal" role="dialog" tabindex='-1'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>               
         <h4 class="modal-title" id="personModalTitle"></h4>
      </div>    
      <div class="modal-body" id="personModalBody">
      </div>
    </div>
  </div>
</div> <!-- / modal -->

<div id="personmessage_modal" class="hidden">
    <form id="person_message_form" method="POST">
    <textarea name="body" cols="40" rows="4"></textarea><br>
    <input type="radio" value="BULKSMS" name="message_type" CHECKED>SMS only</input><br>
    <input type="radio" value="BULKMAIL" name="message_type">Email only</input><br>
    <input type="radio" value="BULKALL" name="message_type">SMS and Email</input><br>
    <input class="btn btn-sm btn-dark" id="sendmessage" type="submit" name="submit" value="Send">
    </form>
</div>

<script>

function grabPersons() {
    url = "{{ path('person_index', {'access': 'ajax' }) }}";
        + "?" + what +"=true";
    if (what == "past") {
        search = true;
    } else {
        search = false;
    }
    $.get(url, function( data ) {
        $( "#" + what + "content" ).html(data);
    }).done(function() {
        $( "#" + what + "table").dataTable({
            "paging": false,
            "searching": search
            });
    });
    return false;
}

function openMessageModal(person_id = null) {

    content = $("#personmessage_modal").html();
    $( "#personModalTitle" ).html('Send Message');
    $( "#personModalBody" ).html(content);
    $( "#personModal" ).modal();

    $("#person_message_form").submit(function( event ) {
        var $btn = $(document.activeElement);
        list = get_selected_persons();
        $(".person_message_form").remove();
        if (person_id) {
            $("#person_message_form").append('<input class="person_list_form_plist" type="hidden" name="person_list[]" value="'+person_id+'">');
        } else {
            list.map(function(value) {
                $("#person_message_form").append('<input class="person_list_form_plist" type="hidden" name="person_list[]" value="'+value+'">');
            });
        }
        if ($btn.is('[id]') && $btn.attr("id") == "sendmessage") {
            postdata = $("#person_message_form").serialize();
            $.ajax({
                type: "POST",
                url: "{{ path('persons_send_message') }}",
                data: postdata,
                success: function(data)
                {
                    alert(data);
                    select_all_persons(false);
                    $( "#personModal" ).modal("hide");
                    $( "#personModalTitle" ).html("");
                    $( "#personModalBody" ).html("");
                }
            });
        }
        event.preventDefault();
    });

    return false;
}

function select_all_persons(value) {
    if (typeof(value) !== "boolean") {
        value = $(value).prop('checked');
    }
    $(".person_list_checkbox").prop('checked', value);
    $(".select_all_persons_checkbox").prop('checked', value);
    if (value == true) {
        $("#select_all_button").hide();
        $("#deselect_all_button").show();
    } else {
        $("#deselect_all_button").hide();
        $("#select_all_button").show();
    }
}

function get_selected_persons() {
    list = [];
    $(".person_list_checkbox").each(function(index, box) {
        if ($(box).prop('checked') == true) {
            list.push(box.value);
        }
    });
    return list;
}
</script>
