{% extends 'base.html.twig' %}
{% block title %}New Person{% endblock %}
{% block body %}
    <h1>Person creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn-sm btn-dark" type="submit" value="Create" />
    {{ form_end(form) }}
    <a href="{{ path('person_index') }}" class="btn-sm btn-dark">Cancel</a><br>
{% endblock %}
