{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shiftorganizations list</h1>
{% include 'CrewCallBundle:shiftorganization:_index.html.twig' with { 'shiftOrganizations': shiftOrganizations}  %}
    <ul>
        <li>
            <a href="{{ path('shiftorganization_new') }}">Create a new shiftOrganization</a>
        </li>
    </ul>
{% endblock %}
