{% extends 'base.html.twig' %}

{% block title %}CrewCall Dashboard{% endblock %}
{% block body %}

{% set newrow = false %}
{% set colcount = 0 %}
<div class="row">
{% for dash in dashboarder.dashboards(app.user) %}

{% set colcount = colcount + dash.cols %}

{% if colcount > 12 %}
    {% set newrow = true %}
    {% set colcount = 0 %}
    {% if loop.index > 1 %}
    </div> <!-- endrow -->
    {% endif %}
    <div class="row">
{% endif %}

<div class="col-sm-{{ dash.cols }}">
{{ dash.content | raw }}
</div>

{% endfor %}
{% if newrow == false %}
</div>
{% endif %}

{% endblock %}
