{% extends 'base.html.twig' %}

{% block title %}CrewCall Dashboard{% endblock %}
{% block body %}

{% set colcount = 0 %}
<div class="row">
{% for dash in dashboarder.dashboards(app.user) %}
    {% set colcount = colcount + dash.cols %}
    {% if colcount > 12 %}
        {% set colcount = dash.cols %}
        </div> <!-- endrow -->
        <div class="row">
    {% endif %}
    <div class="col-md-{{ dash.cols }}">
    {{ dash.content | raw }}
    </div>
{% endfor %}

</div> <!-- no new rows -->

{% endblock %}
