{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shiftfunctionorganizations list</h1>
{% include 'CrewCallBundle:shiftfunctionorganization:_index.html.twig' with { 'shiftFunctionOrganizations': shiftFunctionOrganizations}  %}
    <ul>
        <li>
            <a href="{{ path('shiftfunctionorganization_new') }}">Create a new shiftFunctionOrganization</a>
        </li>
    </ul>
{% endblock %}
