{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shiftfunctionorganization creation</h1>
{% include 'CrewCallBundle:shiftfunctionorganization:_new.html.twig' with { 'form': form}  %}

    <ul>
        <li>
            <a href="{{ path('shiftfunctionorganization_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
