{% for message in sakonnin_messages.messagetype('Admin Wall').messages if message.state == "SHOW" %}
{% if is_granted('show', message) %}
<div id="admin_wall">
<h3>{{ message.subject }}</h3>
<pre wrap class="ccNotesText">
{{ message.body }}
</pre>
</div>
{% endif %}
{% endfor %}
