{% include 'BisonLabSakonninBundle:Message:_edit_popup.html.twig' with { 'reload_after_post': true } %}
<div id="announcements">
{% for message in sakonnin_messages.messagetype('Front page logged in').messages if message.state == "SHOW" %}
{% if is_granted('show', message) %}
{% if message.subject is not empty %}
    <h3>{{ message.subject }}</h3>
{% endif %}
<div class="row">
<pre wrap class="ccNotesText col-sm-10">
{{ message.body }}
</pre>
{% endif %}
{% if is_granted('edit', message) %}
<div class="col-sm-1">
<a href="#" onClick='grabEditMessageForm({{ message.id }});'><button class="dabatdbutton">Edit</button></a>
</div>
{% endif %}
</div>
{% endfor %}
</div>
