{% set mlogcontext = {
            'system': 'crewcall',
            'object_name': 'person',
            'message_type': 'PersonNote',
            'external_id': app.user.id
    }
%}
<div id="personalmessages">
{% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
{% if is_granted('show', note) %}
<h3>{{ note.subject }}</h3>
<pre wrap>
{{ note.body }}
</pre>
{% endif %}
{% endfor %}
</div>
