{% set mlogcontext = {
            'system': 'crewcall',
            'object_name': 'person',
            'message_type': 'PersonNote',
            'external_id': app.user.id
    }
%}
<div id="personalmessages">
<h3>Messages to you</h3>
{% for note in sakonnin_messages.MessagesForContext(mlogcontext) %}
{% if is_granted('show', note) %}
<strong>{{ note.subject }}</strong>
<pre wrap>
{{ note.body }}
</pre>
<button>Read</button>
{% endif %}
{% endfor %}
</div>
