{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shiftfunction edit</h1>
{% include 'CrewCallBundle:shiftfunction:_edit.html.twig' with { 'edit_form': edit_form}  %}
    <ul>
        <li>
            <a href="{{ path('shiftfunction_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
