{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shiftfunctions list</h1>
{% include 'CrewCallBundle:shiftfunction:_index.html.twig' with { 'shiftFunctions': shiftFunctions}  %}
    <ul>
        <li>
            <a href="{{ path('shiftfunction_new') }}">Create a new shiftFunction</a>
        </li>
    </ul>
{% endblock %}
