{% extends 'base.html.twig' %}

{% block body %}
<script>
$(document).ready(function()
    {
    $("#crewcallbundle_event_start_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
    $("#crewcallbundle_event_end_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
});
</script>

    <h1>Event edit</h1>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-sm btn-dark" type="submit" value="Save" />
    {{ form_end(edit_form) }}
    <a href="{{ path('event_index') }}" class="btn btn-sm btn-dark">Cancel</a><br>
{% endblock %}
