{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="row">
    <div class="col-sm-6">
    <h1>Events</h1>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-1" style="margin-top: 10px;">
    <a href="{{ path('event_new') }}"><button class="btn btn-dark mt-4 ml-3">New Event</button></a>
    </div>
    </div>

{% include 'CrewCallBundle:event:_index.html.twig' %}

{% endblock %}
