{% extends 'base.html.twig' %}

{% block body %}
    
{% include 'CrewCallBundle:event:handling.html.twig' %}
    
<div class="row">

 <div class="col-sm-3">
    {% if past %}
      <h1>Past Events</h1>
    {% elseif upcoming %}
      <h1>Upcoming Events</h1>
    {% else %}
      <h1>Ongoing Events</h1>
    {% endif %}
 </div>

 <div class="col-sm-1" style="margin-top: 10px;">
    {% if not upcoming %}
   <a href="{{ path('event_index', {'upcoming': true }) }}" class="btn btn-light">Upcoming</a>
    {% endif %}
 </div>
 <div class="col-sm-1" style="margin-top: 10px;">
    {% if not past %}
    <a href="{{ path('event_index', {'past': true }) }}" class="btn btn-light">Past</a>
    {% endif %}
 </div>
 <div class="col-sm-3" style="margin-top: 20px;">
    <input id="readycheckbox" type="checkbox" onChange="checkReadyCheckbox(this)">Hide ready events
 </div>

 <div class="col-sm-2" style="margin-top: 20px;">
 </div>

 <div class="col-sm-1" style="margin-top: 10px;">
   <a href="{{ path('event_new') }}" class="btn btn-dark">New Event</a>
 </div>

</div>

{% include 'CrewCallBundle:event:_index.html.twig' %}

<script>
function checkReadyCheckbox(elem) {
    if (elem.checked) {
        $(".READY_state").hide();
    } else {
        // Just showing them agan could basically work, but the problem is that
        // most of'em should have been hidden anyway since they are child
        // events not expanded.
        // $(".READY_state").show();
        // This is the cheap and lazy fix.
        parent.location.reload();
    }
}
</script>

{% endblock %}
