{% extends 'base.html.twig' %}

{% block body %}
<script>
$(document).ready(function()
    {
    $("#crewcallbundle_event_start_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
    $("#crewcallbundle_event_end_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
});
</script>
    <h1>Event creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
