<script>
$(document).ready(function()
    {
    $("#crewcallbundle_shift_start_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
    $("#crewcallbundle_shift_end_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
});
</script>
<h4>New shift</h4>
{# Don't like to add the access like this, but these templates are for ajax, alas I can just as well admit it. #}
{{ form_start(form, {action:path('shift_new', {'access': 'ajax'}), 'attr': {'id':'newShiftForm'}}) }}
    {{ form_widget(form) }}
    <input id="submitNewShift" type="submit" value="Add"  onclick="this.value='Adding';this.disabled=true" />
{{ form_end(form) }}

