{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shifts list</h1>
{% include 'CrewCallBundle:shift:_index.html.twig' with { 'shifts': shifts}  %}
    <ul>
        <li>
            <a href="{{ path('shift_new') }}">Create a new shift</a>
        </li>
    </ul>
{% endblock %}
