{% extends 'base.html.twig' %}
{% block title %}Shifts{% endblock %}
{% block body %}
{% include '@CrewCall/job/handling.html.twig' %}
{% include '@CrewCall/shiftorganization/handling.html.twig' %}

    <h1>Shifts</h1>

{% include '@CrewCall/shift/_index.html.twig' %}
{% endblock %}
