{% extends 'base.html.twig' %}

{% block body %}
<script>
$(document).ready(function()
    {
    $("#crewcallbundle_shift_from_time_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
    $('#crewcallbundle_shift_from_time_date').datetimepicker({
        format: "Y-m-d",
        timepicker: false,
        datepicker: true,
    });
    $('#crewcallbundle_shift_from_time_time').datetimepicker({
        format: "H:i",
        timepicker: true,
        datepicker: false,
        step:5
    });
    $("#crewcallbundle_shift_to_time_date input").each(function(){
        $(this).attr("readonly","readonly");
    });
    $('#crewcallbundle_shift_to_time_date').datetimepicker({
        format: "Y-m-d",
        timepicker: false,
        datepicker: true,
    });
    $('#crewcallbundle_shift_to_time_time').datetimepicker({
        format: "H:i",
        timepicker: true,
        datepicker: false,
        step:5
    });
});
</script>
    <h1>Shift creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('shift_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
